html,
body,
#root {
  margin: 0;
  height: 100%;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.page {
  background: #eee;
  box-sizing: content-box;
  height: 100%;
}

.clickable {
  cursor: pointer;
}
